@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>BookMyFlight.</p>
<p>&copy; Lead Backend Developer : Siddikur Rahman Shohan</p>
<p>&copy; Lead Fronted Developer : </p>
<p>&copy; Coder : </p>
<p>&copy; UI and UX Lead : </p>
