@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BookMyFlight</h1>
    <p class="lead">BookMyFlight is a great plartform for getting cheapest flight tickets.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            BookMyFlight allowes Airline Agencies to register a and sell tickets at compatitive price
            for the customers around Bangladesh.
        </p>
    </div>
</div>